afl.tar.gz filter=lfs diff=lfs merge=lfs -text
gcc.tar.gz filter=lfs diff=lfs merge=lfs -text
honggfuzz.tar.gz filter=lfs diff=lfs merge=lfs -text
coverage.tar.gz filter=lfs diff=lfs merge=lfs -text
angora.tar.gz filter=lfs diff=lfs merge=lfs -text
